<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">
	<servlet>
		<servlet-name>command</servlet-name>
		<servlet-class>kr.co.bit.controller.CommandController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>command</servlet-name>
		<url-pattern>/command</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>handler</servlet-name>
		<servlet-class>kr.co.bit.controller.HandlerController</servlet-class>
	 <load-on-startup>1</load-on-startup> <!-- 서버 실행되면 인식이 안되서 찾지를 못하니까 자동으로 실행하라고 우선순위가1 -->
	
	</servlet>
	<servlet-mapping>
		<servlet-name>handler</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/oracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>




